main {
    width: 500px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

.search {
    padding: 10px;
    width: 100%;
}

.suggestion-area {
    border: 1px solid red;
    margin-top: 10px;
    min-height: 100px;
    padding: 5px;
    display: none;
}

ul{
    list-style: none;
}

li{
    cursor: pointer;
    margin: 3px 0;
}